html {
  background-color: #f5f0dc;
}


div.nav-component {
  display: flex;
  justify-content: center;
}

#account-balance-component {
  display: flex;
  justify-content: center;
}

#bank-header {
  text-align: center;
}

h1 {
  text-align: center;
  color: #b52b2b;
}

h2 {
  color: #b52b2b;
}

div {
  color: #745b09;
  text-align: center;
}

#credits-component{
 display: flex;
 flex-direction: column;
}

#debits-component{
  display: flex;
  flex-direction: column;
 }

 #user-name{
  color: #745b09;
  display: flex;
  flex-direction: column;
 }

 #member-since{
  color: #745b09;
  display: flex;
  flex-direction: column;
 }